:root {
  --color-blue: #0084ff;
  --color-red: #ff2768;
  --color-green: #0d8225;
  --color-white: #fff;
  --color-black: #111111;
  --color-dark-bg: #252e37;
  --color-normal-bg: #3b4350;
  --color-light-bg: #576376;
  --color-lightgrey: #dee0df;
  --color-grey: #f5f5f5;
  --color-orange: #ff5800;
}

* {
  font-family: "silkamedium";
  color: lightgray;
  transition: all ease-in-out 0.1s;
}

body {
  margin: 0;
  background: var(--color-normal-bg);
}

body::-webkit-scrollbar {
  display: none;
}

i {
  user-select: none;
  cursor: pointer;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.op0 {
  opacity: 0 !important;
}

.test-r {
  border-style: inset;
  border: solid 1px #f00;
}

.test-g {
  border-style: inset;
  border: solid 1px #0f0;
}

.test-b {
  border-style: inset;
  border: solid 1px #00f;
}

.blue {
  color: var(--color-blue);
}

.red {
  color: var(--color-red);
}

.green {
  color: var(--color-green);
}

.orange {
  color: var(--color-orange);
}

.white {
  color: var(--color-white);
}

.black {
  color: var(--color-black);
}

.lightgrey {
  color: var(--color-lightgrey);
}

.grey {
  color: var(--color-grey);
}
.normal {
  color: var(--color-normal-bg);
}

.blue-h:hover {
  color: var(--color-blue);
}

.red-h:hover {
  color: var(--color-red);
}

.green-h:hover {
  color: var(--color-green);
}

.orange-h:hover {
  color: var(--color-orange);
}

.white-h:hover {
  color: var(--color-white);
}

.black-h:hover {
  color: var(--color-black);
}

.lightgrey-h:hover {
  color: var(--color-lightgrey);
}

.grey-h:hover {
  color: var(--color-grey);
}

.blue-bg {
  background-color: var(--color-blue);
}

.red-bg {
  background-color: var(--color-red);
}

.green-bg {
  background-color: var(--color-green);
}

.orange-bg {
  background-color: var(--color-orange);
}

.white-bg {
  background-color: var(--color-white);
}

.black-bg {
  background-color: var(--color-black);
}

.dark-bg {
  background-color: var(--color-dark-bg);
}

.normal-bg {
  background-color: var(--color-normal-bg);
}

.lightgrey-bg {
  background-color: var(--color-lightgrey);
}

.grey-bg {
  background-color: var(--color-grey);
}

.blue-bg-h:hover {
  background-color: var(--color-blue);
}

.red-bg-h:hover {
  background-color: var(--color-red);
}

.green-bg-h:hover {
  background-color: var(--color-green);
}

.orange-bg-h:hover {
  background-color: var(--color-orange);
}

.white-bg-h:hover {
  background-color: var(--color-white);
}

.black-bg-h:hover {
  background-color: var(--color-black);
}

.dark-bg-h:hover {
  background-color: var(--color-dark-bg);
}

.normal-bg-h:hover {
  background-color: var(--color-normal-bg);
}

.lightgrey-bg-h:hover {
  background-color: var(--color-lightgrey);
}

.grey-bg-h:hover {
  background-color: var(--color-grey);
}

.border-top-dark {
  border-top: 1px solid var(--color-dark-bg);
}

.border-bot-dark {
  border-bottom: 1px solid var(--color-dark-bg);
}

.border-right-dark {
  border-right: 1px solid var(--color-dark-bg);
}

.border-left-dark {
  border-left: 1px solid var(--color-dark-bg);
}

.border-top-normal {
  border-top: 1px solid var(--color-normal-bg);
}

.border-bot-normal {
  border-bottom: 1px solid var(--color-normal-bg);
}

.border-right-normal {
  border-right: 1px solid var(--color-normal-bg);
}

.border-left-normal {
  border-left: 1px solid var(--color-normal-bg);
}

.border-top-light {
  border-top: 1px solid var(--color-light-bg);
}

.border-bot-light {
  border-bottom: 1px solid var(--color-light-bg);
}

.border-right-light {
  border-right: 1px solid var(--color-light-bg);
}

.border-left-light {
  border-left: 1px solid var(--color-light-bg);
}

.draggable {
  cursor: grab;
}

.cta-light {
  background-color: var(--color-light-bg);
  border: 2px solid var(--color-light-bg);
}

.cta-normal {
  background-color: var(--color-normal-bg);
  border: 2px solid var(--color-normal-bg);
}

.cta-dark {
  background-color: var(--color-dark-bg);
  border: 2px solid var(--color-dark-bg);
}

.cta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 25px;
  transition: all ease-out 0.1s;
  cursor: pointer;
  border-radius: 8px;
  -webkit-user-select: none;
  user-select: none;
}

.cta.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-blue {
  background-color: #0084ff20;
  border: 2px solid var(--color-blue);
  * {
    color: var(--color-blue);
  }
}

.cta-red {
  background-color: #ff276820;
  border: 2px solid var(--color-red);
  * {
    color: var(--color-red);
  }
}

.cta-green {
  background-color: #0d822520;
  border: 2px solid var(--color-green);
  * {
    color: var(--color-green);
  }
}

.cta-disable {
  background-color: rgba(255, 39, 104, 0.1254901961);
  border: 2px solid var(--color-red);
  * {
    color: var(--color-red);
  }
}

.cta-blue:hover {
  background-color: var(--color-blue);
  border: 2px solid var(--color-blue);
  * {
    color: var(--color-white);
  }
}

.cta-red:hover {
  background-color: var(--color-red);
  border: 2px solid var(--color-red);
  * {
    color: var(--color-white);
  }
}

.cta-green:hover {
  background-color: var(--color-green);
  border: 2px solid var(--color-green);
  * {
    color: var(--color-white);
  }
}

.cta-disable:hover {
  cursor: not-allowed;
  background-color: #ff276820;
  border: 2px solid var(--color-red);
  * {
    color: var(--color-red);
  }
}

.cta-blue-h:hover {
  border: 2px solid var(--color-blue);
  * {
    color: var(--color-blue);
  }
}

.cta-red-h:hover {
  border: 2px solid var(--color-red);
  * {
    color: var(--color-red);
  }
}

.cta-green-h:hover {
  border: 2px solid var(--color-green);
  * {
    color: var(--color-green);
  }
}

i.warning {
  border-radius: 100%;
  border: solid #00000000 2px;
  padding: 4px 6px 8px 6px;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-red);
}

i.warning:hover {
  background-color: var(--color-dark-bg);
  border: solid var(--color-red) 2px;
  transition-delay: 0.2s;
  transition: all 0.3s ease-in-out;
}

i.warning::after {
  content: attr(data-title);
  position: absolute;
  background-color: var(--color-dark-bg);
  border: solid var(--color-red) 2px;
  color: var(--color-red);
  font-family: "silkamedium";
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  top: 80%;
  right: -25%;
  opacity: 0;
}

i.warning:hover::after {
  opacity: 1;
  transition-delay: 0.2s;
  transition: all 0.3s ease-in-out;
}

.add-item-popup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: calc(100vh - 50px) !important;
  min-width: calc(100vw - 50px) !important;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  gap: 50px;
  padding: 25px !important;
}

.dark-background {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  min-height: 100vh;
  min-width: 100vw;
  background: #00000088 !important;
}

select {
  padding: 15px;
  background: var(--color-normal-bg);
  border: var(--color-normal-bg) 2px solid;
  border-radius: 8px;
}

input,
textarea {
  padding: 15px;
  background: var(--color-normal-bg);
  border: var(--color-normal-bg) 2px solid;
  border-radius: 8px;
  width: calc(100% - 34px);
  outline: unset;
}

textarea {
  height: 100px;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 15px;
  margin-right: 5px;
  border-radius: 100px !important;
}

textarea::-webkit-scrollbar-thumb {
  width: 15px;
  background-color: var(--color-dark-bg);
  border-radius: 100px !important;
  cursor: pointer;
  border: var(--color-normal-bg) 5px solid;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-blue);
}

.arrow-external::after {
  content: "";
  width: 20px;
  position: absolute;
  right: 0;
  border-top: 2px solid var(--color-lightgrey);
  transform: translateX(150%);
}

.arrow-external::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  border-top: 2px solid var(--color-lightgrey);
  border-right: 2px solid var(--color-lightgrey);
  transform: translateX(250%) rotate(45deg);
}

.arrow-external:hover {
  color: var(--color-blue);
}

.arrow-external:hover::before {
  border-top: 2px solid var(--color-blue);
  border-right: 2px solid var(--color-blue);
}

.arrow-external:hover::after {
  border-top: 2px solid var(--color-blue);
}

.dark-container {
  padding: 20px;
  background-color: var(--color-dark-bg);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}


.normal-container {
  padding: 20px;
  background-color: var(--color-normal-bg);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.material-icons.table-no-active {
  transform: rotate(-90deg);
}

.material-icons.table-active {
  transform: rotate(0deg);
}

a.icon {
  margin: auto 0;
}

.table-list {
  h2 {
    margin-top: 0;
  }

  li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-normal-bg);
  }

  li > a,
  li > div {
    border-radius: 8px;
    padding: 0 25px;
  }

  li:hover > a,
  li:hover > div {
    background-color: var(--color-normal-bg);
    transition: all 0.05s ease-in-out;
  }

  li a:hover {
    color: var(--color-blue);
  }

  li.disabled-li > a,
  li.disabled-li > div {
    background-color: unset;
    transition: all 0.05s ease-in-out;
  }
  li.disabled-li * {
    color: var(--color-normal-bg) ;
  }
  
  li.disabled-li:hover * {
    color: var(--color-red) ;
    cursor: not-allowed;
  }
  
  li.disabled-li i {
    color: var(--color-red) ;
  }

  li.legend {
    padding-bottom: 0px;
    border-bottom: solid 2px var(--color-blue);
    * {
      user-select: none;
    }
    div {
      border-radius: 0px;
      background-color: var(--color-normal-bg);
    }
    i.padded {
      padding: 4px 6px 8px 6px;
    }
  }

  li .invisible:after {
    content: "";
    opacity: 1;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--color-lightgrey);
    border-right: 2px solid var(--color-lightgrey);
    transform: rotate(-45deg);
    transition: transform 0.1s ease-in-out;
  }

  li .active.invisible:after {
    transform: rotate(45deg);
  }

  a.external {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  a.hide-icon-h i {
    opacity: 0;
  }

  li:hover a.hide-icon-h i {
    opacity: 1;
  }
}

.blue-h:hover > .add-user {
  cursor: pointer;
  color: var(--color-blue);
  * {
    color: var(--color-blue);
  }
}

.user-settings-page {
  .item {
    border-radius: 8px;
    margin-top: 10px;
    i {
      margin-left: auto;
      margin-right: 15px;
      opacity: 0;
      cursor: pointer;
    }

    .group-list {
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
  }

  p .cta {
    margin-left: 25px;
  }

  .item:hover i {
    opacity: 1;
  }

  .edit-mode {
    > .cta {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  .groups-add .btn-add {
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
  }
}

.cta.to-right-bottom {
  margin-bottom: 0;
  margin-right: 0;
}

.selected-site {
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
  cursor: pointer;
}

.not-selected-site {
  border: 2px solid #00000000;
  cursor: pointer;
}

.code-to-delete {
  letter-spacing: 15px;
  user-select: none;
  font-size: large;
}

.drag-drop-container {
  background-color: var(--color-normal-bg);
  border-radius: 8px;
  padding: 5px;
  width: calc(100% - 10px);
  cursor: pointer;
}

.drag-drop-container > .import-container {
  border: 2px var(--color-normal-bg) dashed;
}

.drag-drop-container:hover > .import-container {
  border: 2px var(--color-blue) dashed;
}

.drag-drop-container:hover > .import-container > h2 span {
  color: var(--color-blue);
}

.cards-media-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.media-import-item:hover i {
  opacity: 1;
}

.cards-media-container .mid-media-card {
  border-radius: 8px;
  background-color: var(--color-normal-bg);
  width: 8.2%;
  height: 110px;
  margin-bottom: 2%;
  cursor: pointer;
}

.media-information {
  position: fixed;
  z-index: 5;
  width: calc(100% - 100px);
  max-height: calc(100% - 100px - 6vh);
  top: 6vh;
  padding: 50px;
  background: #00000088;
  right: 0;
  .giant-card-media {
    width: 70%;
    height: 69vh;
    background-color: var(--color-dark-bg);
  }

  .info-card-media {
    width: 30%;
  }

  .url-container {
    div {
      padding: 15px;
      background-color: var(--color-dark-bg);
      border-radius: 8px;
      display: flex;
      align-items: center;
    }

    .url-filed {
      width: 100%;
      overflow: hidden;
      span {
        overflow-x: scroll;
        padding-right: 30px;
      }

      span::-webkit-scrollbar {
        display: none;
      }

      .hide-right-side {
        position: absolute;
        right: 0;
        width: 5%;
        height: 100%;
        background: linear-gradient(90deg, #00000000 0%, var(--color-dark-bg) 50%);
      }
    }

    .copied {
      color: var(--color-green);
    }
  }
}

.normal-container:hover > .menu-list-item i {
  opacity: 1;
}

.toogle-footer-header {
  right: 20px;
  .cta {
    background-color: var(--color-dark-bg);
    border: 2px solid var(--color-dark-bg);
  }

  .cta:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .cta:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .cta.active {
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
  }
}

.edit-menu-list-item {
  border-top: 1px solid var(--color-light-bg);
  input,
  select {
    padding: 15px;
    background: var(--color-dark-bg);
    border: var(--color-dark-bg) 2px solid;
    border-radius: 8px;
    width: calc(70% - 30px);
    outline: unset;
  }

  select {
    width: calc(70%);
  }
}

i.material-icons.reform-slug-input {
  margin: auto 25px auto 0px;
  transform: translateX(calc(-100% - 15px));
}

i.material-icons.reform-slug-input:hover {
  color: var(--color-red);
}

input.error-input {
  border-color: var(--color-red);
}

.text-zone-field-input {
  transition: 0s all ease-in-out;
  min-width: calc(100% - 30px);
  max-width: calc(100% - 30px);
  min-height: 100px;
  height: 150px;
  border-radius: 8px;
  border: 2px solid var(--color-normal-bg);
  padding: 15px;
}

.wysiwyg-field-input {
  transition: 0s all ease-in-out;
  gap: 5px;
  .text-zone-field-input {
    transition: 0s all ease-in-out;
    height: 200px;
    min-width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    min-height: 100px;
    height: 150px;
    border-radius: 8px;
    border: 2px solid var(--color-normal-bg);
    padding: 15px;
  }

  .wysiwyg-button i {
    padding: 8px;
    border-radius: 8px;
  }
}

.main.p20 {
  padding: 22px 20px 20px 20px;
}

.home-tile {
  border: 2px solid var(--color-dark-bg);
  text-transform: uppercase;
  word-spacing: 10px;
}

.home-tile:hover {
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid var(--color-blue);
  span {
    color: var(--color-blue);
  }
}

.edit-title-button {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: solid 2px var(--color-dark-bg);
}

.edit-title-button {
  border: solid 2px var(--color-normal-bg);
}

.edit-title-button:hover {
  border: solid 2px var(--color-blue);
  i {
    color: var(--color-blue);
  }
}

.refuse-button,
.accept-button {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: solid 2px var(--color-normal-bg);
}

.refuse-button.dark-bg,
.accept-button.dark-bg {
  border: solid 2px var(--color-dark-bg);
}

.refuse-button:hover {
  border: solid 2px var(--color-red);
  background-color: #ff276820;
  i {
    color: var(--color-red);
  }
}

.accept-button:hover {
  border: solid 2px var(--color-blue);
  background-color: #0084ff20;
  i {
    color: var(--color-blue);
  }
}

.w20-tab {
  width: 15vw;
}

.w80-tab {
  width: 85vw;
}

.w20-tab.side-menu-mini {
  width: calc(2vw + 55px);
}

.w80-tab.side-menu-mini {
  width: 100%;
}

.users-list-to-add {
  max-height: 150px;
  overflow-y: scroll;
  margin-bottom: 20px;

  li:hover i {
    color: var(--color-normal-bg);
  }

  li {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    width: calc(100% - 30px);

    i {
      color: var(--color-dark-bg);
    }
    i:hover {
      color: var(--color-red);
    }
    span {
      overflow-x: hidden;
    }
  }
}

.users-list-to-add li:has(i:hover) span {
  color: var(--color-red);
}
.users-list-to-add.viewnoscrool {
  li i:hover {
    color: var(--color-blue);
  }
  li:has(i:hover) span {
    color: var(--color-blue);
  }
}

.users-list-to-add::-webkit-scrollbar {
  width: 5px;
  display: block;
}

/* Track */
.users-list-to-add::-webkit-scrollbar-track {
  background: var(--color-normal-bg);
  border-radius: 100px;
}

/* Handle */
.users-list-to-add::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 100px;
}

.viewnoscrool {
  overflow: hidden;
}

.SelectUsersWindow {
  position: absolute;
  max-height: calc(100% - 150px);
  right: 0;
  top: 0;
  margin: 50px 0;
  transform: translateX(calc(100% + 50px));
}
.ChooseUserWindow {
  position: absolute;
  max-height: calc(100% - 150px);
  left: 0;
  top: 0;
  margin: 50px 0;
  transform: translateX(calc(-100% - 50px));
}

.add-item-popup > div {
  top: 5vh;
  overflow: unset;
  max-width: 85%;
}
.add-item-popup .dark-container:has(.adding-room) {
  width: 480px;
}

.SelectUsersList {
  margin: 0;

  li {
    cursor: pointer;
    margin: 0;
    padding: 5px 0;
    user-select: none;
  }
}

input[name="note"] {
  width: 0px;
  min-width: 35px;
  text-align: end;
  border: unset;
  padding: 0;
  color: var(--color-blue);
  font-size: 20px;
  font-weight: bold;
  unicode-bidi: isolate;
}

input[name="note"]::-webkit-inner-spin-button,
input[name="note"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
input[name="note"] {
  -moz-appearance: textfield;
}

/* Pour Internet Explorer */
input[name="note"]::-ms-clear,
input[name="note"]::-ms-reveal {
  display: none;
}
