#viewDraft {
  width: 450px;
  height: 450px;
  background-color: #fff;
}

textarea[name="draw-script"] {
  font-family: consolas;
  resize: none;
  border-radius: 0;
  background: #11151a;
  border: #11151a solid 2px;
}

textarea::-webkit-scrollbar {
  width: 15px;
  margin-right: 5px;
  border-radius: 100px !important;
}

textarea::-webkit-scrollbar-thumb {
  width: 15px;
  background-color: var(--color-dark-bg);
  border-radius: 100px !important;
  cursor: pointer;
  border: 5px solid #11151a;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-blue);
}

.bg_black {
  background-color: #11151a;
  padding-left: 8px;
}

.rapid-tool {
  padding-bottom: 25px;
  border-bottom: 1px solid lightgray;
}
